
body {
    margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; j'hesite*/
  font-family:"Inter", sans-serif;
  background-color: #D9D9D9;
  
}

.hero-section {
  background-image: url('../img/HeaderPicture.jpg'); 
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  position: relative;
  box-shadow: black;
}

.home-section {
  margin-left: 100px;
  margin-right:100px;
}

.home-section h1 {
  position: relative;
  z-index: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  font-size: 70px;
  text-align: left;
  margin-top: 100px; 
  margin-bottom: -120px;
  top:-160px;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.home-section h2 {
  margin-top: -150px;
  margin-bottom: -30px;
  color:#49454F;
  justify-content: center;
  text-align: center;
  font-size: 250%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.home-section p {
  text-align: center;
  font-size: 17px;
  color:#49454F;
  padding: 30px;
  border-radius: 20px;
  left : -100x;
  font-family: "inter", sans-serif;
  border: 2px solid #49454F ;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
nav {
    display: none; /* j'ai masqué le menu comme ça on pourra le display avec js, mais il est tjr là don't worry*/
    position:fixed;
}

.selection-button{
  background-color: #D6955B;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 15px 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  
}
.selection-button:hover {
  background-color: #C57A3D;
  cursor: pointer;
}
.selection-button.active {
  background-color: #C57A3D;
}
.recipe-list {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
}
.recipe-item{
  background-color:#C9BBAE;
  width: 300px;
  padding: 20px;
  padding-bottom: 5px;
  border: 20px ;
  border-radius: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}
.ingredients {
  background-color:#4f7531c6;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 5px;
  border: 20px ;
  border-radius: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  text-shadow:  2px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  font-size: 17px;
  color:white;
  margin-top: 10px;
  text-align: left;
}
.instructions {
  background-color:#6d8959c6;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 5px;
  border: 20px ;
  border-radius: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  font-size: 17px;
  color: white;
  text-shadow:  2px 4px 10px rgba(0, 0, 0, 0.3); ;
  margin-top: 10px;
  text-align: left;
}
.recipe-item img{
  object-fit : cover;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #D9D9D9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}



.article {
  background-color: #D6955B;
  color : beige;
  border-radius: 20px;
  display:inline-block;
  width: 300px;
  height:210px;
  padding: 20px;
  font-size :small;
  text-align: right;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 10px;
}

#home-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  margin-left:100px;
  margin-right:100px;


}

.article img {
  object-fit : cover;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  border: 2px solid #a74f14;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  
}



/*                     side navigation bar style                     */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #90a4ae;
  overflow-x: hidden;
  padding-top: 60px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1001;
}

.sidebar a {
  padding: 10px 25px;
  display: block;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #78909c;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  color: white;
  text-decoration: none;
}


.openbtn {
  font-size: 30px;
  background: none;
  border: none;
  color: beige;
  position: fixed;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 1100;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}


.sidebar.active {
  transform: translateX(0);
}

/*    favorite button style    */

.favorite-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.favorite-btn.active {
  color: rgb(190, 69, 69);
}

/*api style*/
#results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

#results .recipe-item {
  background-color: #C9BBAE;
  padding: 13px;
  border-radius: 15px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  text-align: center;
}

#results .recipe-item a {
  text-decoration: none;
  color: #333;
}
