
body {
    margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; j'hesite*/
  font-family:"Inter", sans-serif;
  background-color: #D9D9D9;
  
}

.hero-section {
  background-image: url('../img/HeaderPicture.jpg'); 
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  position: relative;
}

.home-section {
  margin-left: 100px;
  margin-right:100px;
}

.home-section h1 {
  
  position: relative;
  z-index: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  font-size: 70px;
  text-align: left;
  margin-top: 100px; 
  margin-bottom: -120px;
  top:-160px;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.home-section h2 {
  
  background-color:#0b1111c6;
  border-radius:20px;
  color:beige;
  margin:0;
  width: 300px;
  margin-left: 100px;
  margin-left:100px;
  justify-content: center;
  text-align: center;
}

.home-section p {
    text-align: left;
    font-size: 17px;
    color:beige;
    margin:0;
    padding: 10px;
    border-radius: 20px;
    left : -100x;
    text-align: center;
    background-color: #0b1111c6;
    font-family: "inter", sans-serif;
}
nav {
    display: none; /* j'ai masqué le menu comme ça on pourra le display avec js, mais il est tjr là don't worry*/
    position:fixed;
}

.selection-button{
  background-color: #D6955B;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 15px 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  
}
.selection-button:hover {
  background-color: #C57A3D;
  cursor: pointer;
}
.recipe-list {
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
}
.recipe-item{
  background-color:#C9BBAE;
  width: 300px;
  padding: 20px;
  padding-bottom: 5px;
  border: 20px ;
  border-radius: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

.recipe-item img{
  object-fit : cover;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #D9D9D9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}



.article {
  background-color: #D6955B;
  color : beige;
  border-radius: 20px;
  display:inline-block;
  width: 300px;
  height:210px;
  padding: 20px;
  font-size :small;
  text-align: right;
  flex-wrap: wrap;
  margin-top: 0px;
  
}

#home-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  margin-left:100px;
  margin-right:100px;


}

.article img {
  object-fit : cover;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  border: 2px solid #a74f14;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  
}

